
body {
    width: auto;
    overflow-x: hidden;
}

main {
    width: auto;
    height: 90vh;
    margin: auto;
    transition-duration: 500ms;
}

.nav-bar-item {
    width: 6rem;
}

.search-input {
    max-width: 580px;
    margin: auto;
    border-radius: 1.5rem;
    height: 3rem;
}

.search-input:hover {
    border: none;
    box-shadow:  -3px -3px 10px #00000030,  3px 3px 10px #00000030;
}

.logo {
    font-size: 3.8rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    transition-duration: 500ms;
}

.custom-input {
    height: 90%;
    width: 85%;
    border: none;
    padding-top: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.custom-input:focus {
    border: none;
    outline: none;
}

.blue {
    color: #4285F4;
}

.red {
    color: #DB4437;
}

.yellow {
    color: #F4B400;
}

.green {
    color: #0F9D58;
}

.search-icon {
    width: 24px;
    height: 24px;
}

.small_text {
    font-size: 0.8rem !important;
}

.adv-column-left {
    padding-left: 2rem;
    width: 12rem;
}

.adv-column-center {
    max-width: 750px !important;
}

.adv-column-right {
    
    max-width: 25rem;
    line-height: 1;
    color: grey;
}

.sub-column-operator {
    display: inline;
}

.sub-column {
    display: inline;
    width: auto;
}

@media (max-width: 1150px) {
    .adv-column-right {
        display: none;
    }
}



@media (min-height: 550px) {
    main {
        padding-top: 14vh;
    }

    .logo {
        transform: scale(1.3);
    }
}